.students-link{
    background-color: #ffc100;
    color: white;
    font-size: 2rem;
    padding: 12px;
    margin: 12px 0;
    max-width: 400px;
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
    &:hover{
        opacity: 0.8;
    }
}

.subjects-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 150px;
    row-gap: 10px;
    column-gap: 10px;
}

.subject-block{
    background-color: #ffc100;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    opacity: 1;
}
.subject-block:hover{
    opacity: 0.8;
}

