<button [routerLink]="['/']" class="back-button"> 
    <mat-icon>
        arrow_back
    </mat-icon>
    Back
</button>

<div class="subjects-container">
    <strong class="topper-name">{{topper?.studentName}} </strong>
    Obtained
    <strong class="topper-marks">{{topper?.marks}}</strong>
    <img src="../../../assets/Mathematics-rafiki.png" alt="" class="subjects-img">
    <hr/>
    <mat-list role="list">
        <mat-list-item *ngFor="let detail of studentsData; index as i;" class="students-card">
            {{detail?.studentName}}-{{detail?.marks}}
        </mat-list-item>
    </mat-list>
</div>