.app-logo{
    display: flex;
    align-items: center;
    gap: 1rem;

    img{
        border-radius: 50%; // to make the logo circular
        height: 3.5rem;
        cursor: pointer;
    }
}

.page-container{
    display: flex;
    justify-content: center;
    max-height: calc(100% - 100px);
}